<h1>Editing Sent Response Message</h1>

<%= render 'form', sent_response_message: @sent_response_message %>

<%= link_to 'Show', @sent_response_message %> |
<%= link_to 'Back', sent_response_messages_path %>
